#left-div {
    float:left;
    height: 15em;
  width: 24.45em;
  box-shadow: 0 5px 25px 0 rgba(88, 88, 92, 0.2);
  }

#left-div:hover {
    box-shadow: 0 5px 25px 0 rgba(27, 3, 236, 0.2);
}
#right-div{
    float:right;
    width:64.5%;
    height:15em;
}
#right-div:hover {
    box-shadow: 0 5px 25px 0 rgba(27, 3, 236, 0.2);
}
.profile-logo{
    width: 4em;
    height: 2em;
    color: slategrey;
    margin-top: 2.5em;
}
.logo{
    float:left;
    width: 6em;
    height:10em;
    margin-bottom: 100%;
}
.text{
    float:left; 
    margin-top: 3em;
    width: 18.45em;
    height:10em;
    /* margin-left: 17px; */
}
.text-size{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.2);
}
.hr-line{
    width: 16em;
}
.hr-line-right{
    width: 30em;
}
#footer {
   position:absolute;
   bottom:0;
   background: #45426d;
   width: 60%;
   height:60px;   /* Height of the footer */
}
.text1{
    width: 100%;
}
.foo{
    text-align: center;
    color: white;
}